# Node modules and debug logs
node_modules/
npm-debug.log*

# Uploads - keep folders but ignore files
uploads/images/*
!uploads/images/.gitkeep

uploads/documents/*
!uploads/documents/.gitkeep

# Environment files
.env

# Logs
logs/
*.log

# macOS system file
.DS_Store